*{
    font-family: 'Indie Flower', cursive;
}

.wrapper{
    padding-top: 50px;
    width: 300px;
}

.wrapper a{
    display: block;
    background: #e67e22;
    text-decoration: none;
    border-radius:5px;
    font-size: 25px;
    line-height: 2;
    color: #fff;
}